* {
    font-size: 16px;
    font-family: 'overlock',sans-serif;
    box-sizing: border-box;
}

body{
background-image: url("https://cdn.pixabay.com/photo/2015/06/30/18/36/st-826688_1280.jpg");
    color: #ddd;
    background-color: #222;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    font-size: 1.5rem;
}

.cabecalho,.conteudo,.rodape-caixa,.conteudo-index{
    max-width: 1298px; ;
}

.cabecalho {
    border: 2px solid #ddd;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 3rem auto 0 auto ;
    background-color: rgba(28, 28, 28, 0.3);
    height: 6.5rem;
    padding: 1.25rem;
}

.cabecalho-marca { 
    align-self: center;
}

.cabecalho-marca-link {
    font-family: "Titillium Web", sans-serif;
    color: #ddd;
    font-size: 3rem;
    font-style: italic;
    text-decoration: none;
}

.cabecalho-marca-icone{
    height: 2.75rem;
}

.cabecalho-menu {
    align-self: center;
}

.cabecalho-menu-hamburguer{
    display: none;
}
.cabecalho-menu-lista{
    list-style-type: none;
    display: flex;
}

.cabecalho-menu-lista-link{
    color:#ddd;
    text-decoration: none;
    padding: 0.25rem;
    margin: 0 0.625rem;
    font-size: 1.125rem;
}

.cabecalho-menu-lista-link:hover {
    color:#f87;
    border-bottom: 2px solid #f87;
    background-color: rgba(28, 28, 28, 0.65);


}   

.conteudo{
    border: 2px solid whitesmoke;
    width: 95%;
    margin: 5rem auto;
    display: flex;

    
}

.conteudo-esquerda{
   
    width: 50%;
    
    background-size: cover ;
    background-position: center;
}

.conteudo-esquerda-sobre{
    background-image: url(imagens/asparagus-2169305_1280.jpg);
}

.conteudo-esquerda-contato{

    background-image: url(imagens/woman-8664665_960_720.jpg);
}
.conteudo-direita{
   
    width: 50%;
    background-color: rgba(245, 245, 245, 0.8);
    color: #222;
    padding: 1rem;

}
.conteudo-index {
    height: calc(100vh - 9.5rem);
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;

}

.conteudo-caixa-index{
    width: 50%;
    background-color: rgba(28, 28, 28, 0.5);
    border-bottom: 2px solid whitesmoke;
    padding: 1rem;

}

.conteudo-titulo{
color: orangered;
font-weight:900 ;
font-size: 1.5rem;
}

.conteudo-subtitulo{
    color: orangered;
    font-size: 1.25rem;

}


.conteudo-texto{
    text-align: justify;

}
.conteudo-imagem1{
    width: 360px;
    float: right;
    margin: 0 0 1rem 1rem;
}

.conteudo-imagem2{
    width: 160px;
    float: left;
    margin:0 1rem 1rem 0;
    border-radius: 50%;
    
}
.conteudo-subtitulo-index {
    color: #f87;
    font-size: 2.5rem
}

.conteudo-frase {
    font-size: 1.5rem;
    font-style: italic;

}

.conteudo-tabela{
    border: 1px dashed orangered;
    margin: 0 auto;
    width: 75%;
    border-collapse: collapse;
    text-align: center;

}

.conteudo-tabela-titulo{
    background-color: orangered;
    color: whitesmoke;
}

.conteudo-tabela-linha{
    background-color: #f87;
}

.conteudo-tabela-linha:nth-child(even){
    background-color: rgb(249, 174, 163);
    
}

.conteudo-tabela-coluna{
    border: 1px dashed whitesmoke;
}

.formulario-caixa{
    display: block;
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border: 1px solid orangered;
    margin: 0.5rem 0 0.75rem 0;
    color: orangered;
    border-radius: 5px;
}

.formulario-caixa:focus{
    border: 2px solid orangered;
    background-color: rgb(240, 213, 209);
}

.formulario-botoes{
    display: flex;
    justify-content: center;
    
}

.formulario-botao{

    width: 30%;
    font-size: 1.125rem;
    border: none;
    padding: 0.5rem;
    margin: 0 0.25rem;
    border-radius: 5px;
    color: whitesmoke;
    transition: 0.5s;
}

.formulario-botao-enviar{
    background-color: green;
}

.formulario-botao-enviar:hover{
    background-color: darkgreen;
}
.formulario-botao-limpar{

    background-color: tomato;
 }

 .botao-whatsapp{
    background-color: #128c7e;
    text-decoration: none;
    padding: 0.5rem 2rem;

 }

 .botao-whatsapp:hover{
    background-color: #075e54;
 }
 .formulario-botao-limpar:hover{
    background-color: orangered;
 }
.rodape {
    border-top: 2px solid whitesmoke;
    min-height: 15rem;
    background-color: #222;
    position: absolute;
    left: 0;
    width: 100%;
    
}

.rodape-caixa {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 1.5rem;

}


.rodape-esquerda{
    min-height: 15rem;

}

.laranja{
    color: #f87;
}

.verde{

    color: #25d366;
}
.rodape-marca{
    font-family: "Titillium Web", sans-serif;
    color: #ddd;
    font-size: 2rem;
    font-style: italic;
}

.rodape-marca-icone{

    color:white;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
.rodape-subtitulo{
    color: #f87;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;

}
.rodape-direita{
    font-size: 2.rem;
    color:whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 40%;
    text-align: right;
}

.rodape-link{
    text-decoration: none; 
}
.rodape-icone-link{
    font-size: 1.5rem;
    margin-left: 0.5rem;
    color: whitesmoke;
}
.rodape-icone-link:hover{
    color: #f87;
}
.rodape-atencao{
    color: yellow;
}

/* otimizando para dispositivos moveis com tela de ate 480px */

@media screen and (max-width: 480px){
    .cabecalho-menu{
        display: none;
    }
    .cabecalho-menu-hamburguer{
        display: block;
        align-self: center;
    }

    .icon-menu{
        font-size: 2.5rem;
    }
    .conteudo-caixa-index{
        width: 100%;
        border: 2px solid whitesmoke;
    }
    .rodape-caixa{
        display: block;
    }
    .rodape-direita{
        max-width: 100%;
        text-align: left;
    }
    .rodape-atencao{
        margin-top: 1rem;
    }
}

