* {
    font-size: 16px;
    font-family: 'overlock',sans-serif;
    box-sizing: border-box;
}

body{
background-image: url("https://cdn.pixabay.com/photo/2015/06/30/18/36/st-826688_1280.jpg");
    color: #ddd;
    background-color: #222;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    font-size: 1.5rem;
}

.cabecalho {
    border: 2px solid #ddd;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 3rem auto 0 auto ;
    background-color: rgba(28, 28, 28, 0.3);
    height: 6.5rem;
    padding: 1.25rem;
}

.cabecalho-marca { 
    align-self: center;
}

.cabecalho-marca-link {
    font-family: "Titillium Web", sans-serif;
    color: #ddd;
    font-size: 3rem;
    font-style: italic;
    text-decoration: none;
}

.cabecalho-marca-icone{
    height: 2.75rem;
}

.cabecalho-menu {
    align-self: center;
}
.cabecalho-menu-lista{
    list-style-type: none;
    display: flex;
}

.cabecalho-menu-lista-link{
    color:#ddd;
    text-decoration: none;
    padding: 0.25rem;
    margin: 0 0.625rem;
    font-size: 1.125rem;
}

.cabecalho-menu-lista-link:hover {
    color:#f87;
    border-bottom: 2px solid #f87;
    background-color: rgba(28, 28, 28, 0.65);


}   

.conteudo{
    border: 2px solid whitesmoke;
    width: 95%;
    margin: 5rem auto;
    display: flex;

    
}

.conteudo-esquerda{
   
    width: 50%;
    background-image: url(imagens/asparagus-2169305_1280.jpg);
    background-size: cover ;
    background-position: center;
}

.conteudo-direita{
   
    width: 50%;
    background-color: rgba(245, 245, 245, 0.8);
    color: #222;
    padding: 1rem;

}
.conteudo-index {
    height: calc(100vh - 9.5rem);
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;

}

.conteudo-caixa-index{
    width: 50%;
    background-color: rgba(28, 28, 28, 0.5);
    border-bottom: 2px solid whitesmoke;
    padding: 1rem;

}

.conteudo-titulo{
color: orangered;
font-weight:900 ;
font-size: 1.5rem;
}

.conteudo-subtitulo{
    color: orangered;
    font-size: 1.25rem;

}


.conteudo-texto{
    text-align: justify;

}
.conteudo-imagem1{
    width: 360px;
    float: right;
    margin: 0 0 1rem 1rem;
}

.conteudo-imagem2{
    width: 160px;
    float: left;
    margin:0 1rem 1rem 0;
    border-radius: 50%;
    
}
.conteudo-subtitulo-index {
    color: #f87;
    font-size: 2.5rem
}

.conteudo-frase {
    font-size: 1.5rem;
    font-style: italic;

}

.rodape {
    border-top: 2px solid whitesmoke;
    min-height: 15rem;
    background-color: #222;
    position: absolute;
    left: 0;
    width: 100%;
    
}

.rodape-caixa {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 1.5rem;

}


.rodape-esquerda{
    min-height: 15rem;

}

.laranja{
    color: #f87;
}

.verde{

    color: #25d366;
}
.rodape-marca{
    font-family: "Titillium Web", sans-serif;
    color: #ddd;
    font-size: 2rem;
    font-style: italic;
}

.rodape-marca-icone{

    color:white;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
.rodape-subtitulo{
    color: #f87;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;

}
.rodape-direita{
    font-size: 2.rem;
    color:whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 40%;
    text-align: right;
}

.rodape-link{
    text-decoration: none; 
}
.rodape-icone-link{
    font-size: 1.5rem;
    margin-left: 0.5rem;
    color: whitesmoke;
}
.rodape-icone-link:hover{
    color: #f87;
}
.rodape-atencao{
    color: yellow;
}

